footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-gray-20;
    align-items: center;
    text-align: center;
    padding: 25px;
    
    .social-media{
        margin-bottom: 25px;
        a{
            color: $color-darkblue;
            font-size: 22px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            transition: all 0.1s ease-in-out;

            &:hover{
                color: $color-red;
            }
        }
    }
}